<sly data-sly-use.list="com.adobe.acs.genericlists.impl.KeyValueListModel"
     data-sly-test.authorMode="${!wcmmode.disabled}">
    <div data-sly-test.hasItems="${list.items.size}" class="acs-genericlists-key-value-list">
        <table>
            <caption>Generic list values (author preview only)</caption>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr data-sly-repeat.item="${list.items}">
                    <td>${item.title}</td>
                    <td>${item.value}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-sly-test="${list.validationIssues.size}" class="acs-genericlists-key-value-list__validation" role="alert">
        <p>Some invalid list rows are excluded from runtime output.</p>
        <ul>
            <li data-sly-repeat.issue="${list.validationIssues}">${issue.message}</li>
        </ul>
    </div>

    <div data-sly-test="${!hasItems}"
         class="cq-placeholder"
         data-emptytext="Key/Value List"></div>
</sly>
