<sly data-sly-use.list="com.adobe.acs.genericlists.GenericList"
     data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='coralui3'}"></sly>

<table data-sly-test.hasItems="${list.items.size}" is="coral-table" class="acs-genericlists-key-value-list">
    <thead is="coral-table-head">
        <tr is="coral-table-row">
            <th is="coral-table-headercell">Key</th>
            <th is="coral-table-headercell">Value</th>
        </tr>
    </thead>
    <tbody is="coral-table-body">
        <tr is="coral-table-row" data-sly-repeat.item="${list.items}">
            <td is="coral-table-cell">${item.title}</td>
            <td is="coral-table-cell">${item.value}</td>
        </tr>
    </tbody>
</table>

<div data-sly-test="${!hasItems}"
     class="cq-placeholder"
     data-emptytext="Key/Value List"></div>
